body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button {
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button:hover {
    background-color: #ccc;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
    /* display: flex;
    flex-direction: row-reverse; */
}

.modal-header h2, .modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: coral;
    padding: 15px;
    color: #fff;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: coral;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
}

@media (max-width: 767px) {
    .modal-content {
        background-color: #f4f4f4;
        position: absolute;
        margin: 0 0;
        width: 100%;
        bottom: 0;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
            0 7px 20px 0 rgba(0, 0, 0, 0.2);
        animation-name: modalopen;
        animation-duration: 1s;
    }
}